<h1> Adicionar Item </h1>
<form method='POST'>
    {% csrf_token %}
    <select name = 'produto_id'>
        {% for produto in produtos %}
            <option value="{{produto.id}} "> {{ produto.name }} {{ produto.price}}</option>
        {% endfor %}
    </select>
        <input type="number" name="quantidade" placeholder="Quantidade">
        <button type="submit">Adicionar</button>
</form>
<ul>
    {% for item in itens_detalhados %}
        <li>{{item.produto.name}} - {{ item.quantidade }}</li>
    {% endfor %}
</ul>
<a href="{% url 'finalizar_pedido' %}">Finalizar Pedido</a>
